.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  /* For .App class to cover the entire height 
  and width of the viewport
  */
  height: 100vh;
  width: 100vw;
}

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.hover-grow {
  transition: all 0.2s ease-in-out;
}

.hover-grow:hover {
  transform: scale(1.05);
}

.navbar-toggler-icon-white {
  background-color: white !important;
}

.btn-color {
  background-color: #535357;
}
/* 
.container {
  overflow: hidden;
} */
